@import url('https://fonts.googleapis.com/css?family={{fontFamily}}');

* {
  margin: 0;
  padding: 0;
  font-family: {{fontFamily}}, sans-serif;
  text-transform: uppercase;
  letter-spacing: {{letterSpacing}}px;
}

#main-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#static {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: {{bgColor}};
  color: {{fontColor}};
  padding-left: {{iconMargin}}px;
}

#dynamic {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.material-icons.sized {
  display: inline-block;
  vertical-align: middle;
  margin-top: {{iconTop}}px;
  margin-bottom: {{iconBottom}}px;
  line-height: {{fontSize}}px;
  font-size: {{iconSize}}px;
}

.name {
  margin-left: {{nameMargin}}px;
  line-height: {{fontSize}}px;
  font-size: {{fontSize}}px;
}

.alert {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: {{iconMargin}}px;
  /* HIDDEN BEFORE AND AFTER ANIMATION */
  opacity: 0;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  /* ANIMATION */
  animation: {{animationName}} {{widgetDuration}}s ease-in-out;
}

.alert.sub {
  background-color: {{subColor}};
  color: {{bgColor}};
}

.alert.follow {
  background-color: {{followColor}};
  color: {{bgColor}};
}

.alert.cheer {
  background-color: {{cheerColor}};
  color: {{bgColor}};
}

.alert.tip{
  background-color: {{tipColor}};
  color: {{bgColor}};
}

.alert.host {
  background-color: {{hostColor}};
  color: {{bgColor}};
}

.alert.raid {
  background-color: {{raidColor}};
  color: {{bgColor}};
}

/* ICON ANIMATIONS */

.scale {
  animation: scale {{widgetDuration}}s ease-in-out;
}

.pulse {
  animation: pulse {{widgetDuration}}s ease-in-out;
}

.rotate {
  animation: rotate {{widgetDuration}}s linear;
}

@keyframes rotate {
  0%   { transform: rotate(0deg);   }
  88%  { transform: rotate(720deg); }
  100% { transform: rotate(720deg); }
}

@keyframes scale {
  0%   { transform: scale(1);   }
  8%   { transform: scale(1);   }
  85%  { transform: scale(1.4); }
  92%  { transform: scale(1);   }
}

@keyframes pulse {
  0%   { transform: scale(1);    }
  5%   { transform: scale(1.15); }
  10%  { transform: scale(1);    }
  20%  { transform: scale(1);    }
  25%  { transform: scale(1.15); }
  30%  { transform: scale(1);    }
  40%  { transform: scale(1);    }
  45%  { transform: scale(1.15); }
  50%  { transform: scale(1);    }
  60%  { transform: scale(1);    }
  65%  { transform: scale(1.15); }
  70%  { transform: scale(1);    }
  80%  { transform: scale(1);    }
  85%  { transform: scale(1.15); }
  90%  { transform: scale(1);    }
  100% { transform: scale(1);    }
}

/* ALERT ANIMATIONS */

@keyframes cut {
  0%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
}

@keyframes fade-in {
  0%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0; }
  12%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
}

@keyframes fade-out {
  0%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  88%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0; }
}

@keyframes fade-in-out {
  0%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0; }
  12%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  88%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0; }
}

@keyframes reveal-in {
  0%   { clip-path: polygon(0% 0%, 0%   0%, 0%   100%, 0% 100%); opacity: 1; }
  9%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
}

@keyframes reveal-out {
  0%   { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  91%  { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  100% { clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); opacity: 1; }
}

@keyframes reveal-in-out {
  0%   { clip-path: polygon(0%   0%, 0%   0%, 0%   100%, 0%   100%); opacity: 1; }
  9%   { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  91%  { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  100% { clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); opacity: 1; }
}

@keyframes reveal-in-fade-out {
  0%   { clip-path: polygon(0% 0%, 0%   0%, 0%   100%, 0% 100%); opacity: 1; }
  9%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  88%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 1; }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0; }
}

@keyframes fade-in-reveal-out {
  0%   { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 0; }
  12%  { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  91%  { clip-path: polygon(0%   0%, 100% 0%, 100% 100%, 0%   100%); opacity: 1; }
  100% { clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); opacity: 1; }
}