@import url('https://fonts.googleapis.com/css?family={{fontFamily}}');

* {
  margin: 0;
  padding: 0;
  color: {{fontColor}};
  font-family: {{fontFamily}}, sans-serif;
  text-transform: uppercase;
  letter-spacing: {{letterSpacing}}px;
}

#main-container {
  width: 100%;
  height: 100%;
  background-color: {{bgColor}};
  display: flex;
  align-items: center;
  padding-left: {{fontSize}}px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  animation: reveal 6.6s ease-in-out;
}

#text-container {
  line-height: {{fontSize}}px;
  font-size: {{fontSize}}px;
}

.material-icons {
  color: {{accentColor}};
  vertical-align: middle;
  animation: scale 6.6s ease-in-out;
}

#username {
  margin-left: 8px; 
  color: {{accentColor}};
}

@keyframes scale {
  0%   { transform: scale(1); }
  8%   { transform: scale(1); }
  85%  { transform: scale(1.4); }
  92% { transform: scale(1); }
}

@keyframes reveal {
  0%   { clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); }
  9%   { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  91%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  100% { clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); }
}