@import url('https://fonts.googleapis.com/css?family={{fontFamily}}');

* {
  margin: 0;
  padding: 0;
  color: {{fontColor}};
  font-family: {{fontFamily}}, sans-serif;
  text-transform: uppercase;
  letter-spacing: {{letterSpacing}}px;
}

#main-container {
  width: 100%;
  height: 100%;
  background-color: {{bgColor}};
  display: flex;
  align-items: center;
  padding-left: {{fontSize}}px;
}

.material-icons.sized {
  vertical-align: middle;
  line-height: {{fontSize}}px;
  font-size: {{fontSize}}px;
}

#username {
  margin-left: 8px; 
  line-height: {{fontSize}}px;
  font-size: {{fontSize}}px;
}
